 :root{
    --orange: #F87070;
    --blue: #70F3F8;
    --purple: #D881F8;
    --grey-purple: #D7E0FF;
    --dark-bg-1: #1E213F;
    --dark-bg-2: #161932;
    --white: #ffffff;
    --grey: #EFF1FA;
 }