@import 'colors.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    overflow-y: hidden;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 48px 0 56px;

    height: 98vh;

    font-family: 'Kumbh Sans', monospace;


    background-size: cover;
    background-position: center;
    background-color: var(--dark-bg-1);
    color: var(--grey-purple);
}

button, input[type="number"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

header{
    p{
        font-size: 2rem;
    }
}

section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;


    width: 100vw;
    height: 100vh;

    
    .top-buttons{
        display: flex;
        align-items: center;
        justify-content: space-evenly;


        background-color: var(--dark-bg-2);

        width: 373px;
        height: 63px;
        border-radius: 1.969rem;
        button{
            width: 120px;
            height: 48px;
            margin: 7px;
            border-radius: 1.656rem;
            font-size: 0.875rem;
        }
        button:focus{
            color: var(--dark-bg-1);
        }
    }
}

.app{

    width: 410px;
    height: 410px;

    background: linear-gradient(110deg ,#0E112A, #2E325A);
    border-radius: 50%;

    
    &:before {
        content: "";
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(-45deg, #0e112a 30%, #2e325a 78% );
        transform: translate3d(-23px, 0px, 0) scale(0.4);
        filter: blur(100px);
        opacity: var(1);
        transition: opacity 0.3s;
        border-radius: inherit;
    }
  

    .countdown-bg{
        display: flex;
        justify-content: center;
        align-items: center;

        width: 366px;
        height: 366px;

        margin: 22px;

        background-color: var(--dark-bg-2);
        border-radius: 50%;

    }
    
    .clock{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 317px;
        height: 317px;

        z-index: 2;

        background-color: var(--dark-bg-2);
        border-radius: 50%;

        h2{
            font-size: 6.25rem;
        }
        p{
            font-size: 1rem;
            letter-spacing: 15px;
            text-transform: uppercase;
        }
    }
}

.settings{
    position: absolute;


    width: 540px;
    height: 464px;

    border-radius: 1.563rem;

    z-index: 10;

    background-color: var(--white);
    color: var(--dark-bg-2);

    header{
        width: 100%;
        height: 93px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        h2{
            font-size: 1.75rem;
            margin: 40px;
        }
        button{
            margin: 40px;
        }

        &::before{
            position: absolute;
            top: 93px;

            content: '';
            width: 100%;
            height: 1px;

            background-color: #e3e3e3;
        }
    }
    main{
        width: 462px;
        height: 370px;

        .time-settings{
            display: flex;
            flex-direction: column;

            margin-top: 24px;

            h3{
                font-size: 0.813rem;
                text-transform: uppercase;
                letter-spacing: 5px;
                margin-bottom: 22px;
                font-weight: bold;
            }


            .inputs{
                display: flex;
                justify-content: space-between;
                div{
                    p{
                        font-weight: bold;
                        font-size: 0.75rem;

                        margin-bottom: 8px;
                        color: rgba(30, 33, 63, 0.4);
                    }
                    input{
    
                        width: 140px;
                        height: 48px;
    
                        background-color: var(--grey);
                        color: var(--dark-bg-1);
                        font-weight: bold;
                        border-radius: 10px;
    
                        padding: 16px;
                    }
                }

                &::before{
                    position: absolute;
                    top: 251px;

                    content: '';
                    width: 460px;
                    height: 1px;
                    background-color: #e3e3e3;
                }
            }
        }

    }

}



.font-settings{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    margin-top: 49px;

    h3{
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 0.813rem;
    }

    .fonts{
        display: flex;
        justify-content: space-between;

        width: 152px;

        button{
            display: flex;
            justify-content: center;
            align-items: center;

            width: 40px;
            height: 40px;


            border-radius: 50%;



            background-color: var(--grey);

            &:focus{
                background-color: var(--dark-bg-1);
                color: var(--white);
            }
        }
        
    }
    &::before{
        position: absolute;
        top: 340px;

        content: '';
        width: 460px;
        height: 1px;
        background-color: #e3e3e3;
    }
}
.font1{
    font-family: 'Kumbh Sans';
    font-weight: bold;
}
.font2{
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 15px;
}
.font3{
    font-family: 'Space Mono';
    font-weight: bold;
    font-size: 15px;
}
.color-settings{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    margin-top: 49px;

    h3{
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 0.813rem;
    }

    .colors{
        display: flex;
        justify-content: space-between;

        width: 152px;

        button{
            display: flex;
            justify-content: center;
            align-items: center;

            width: 40px;
            height: 40px;


            border-radius: 50%;

            font-weight: bold;

            background-color: var(--grey);

            &:nth-child(1){
                background-color: var(--orange);
                color: var(--orange);
            }
            &:nth-child(2){
                background-color: var(--blue);
                color: var(--blue);
            }
            &:nth-child(3){
                background-color: var(--purple);
                color: var(--purple);
            }

            &:focus{
                color: var(--dark-bg-1);
            }
            .font-1{
                font-family: 'Kombh Sans';
            }
            .font-2{
                font-family: 'Roboto';
            }
            .font-3{
                font-family: 'Space Mono';
            }
        }
        
    }
    &::before{
        position: absolute;
        top: 340px;

        content: '';
        width: 460px;
        height: 1px;
        background-color: #e3e3e3;
    }
}

.apply{
    position: relative;
    top: 25px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 140px;
    height: 53px;

    font-weight: bold;

    background-color: var(--orange);
    color: var(--white);

    border-radius: 26.5px;
}

.close{
    display: none;
}


.orange{
    background-color: var(--orange);
}
.blue{
    background-color: var(--blue);
}
.purple{
    background-color: var(--purple);
}
.orange-focus:focus{
    background-color: var(--orange);
}
.blue-focus:focus{
    background-color: var(--blue);
}
.purple-focus:focus{
    background-color: var(--purple);
}

.kumbh{
    font-family: 'Kumbh Sans';
}
.roboto{
    font-family: 'Roboto Slab';
}
.space{
    font-family: 'Space Mono';
}