#taskBar{
    display: flex;
    justify-content: flex-end;

    position: fixed;
    bottom: 0;

    width: 100vw;
    height: 38px;
    background-color: #C3C3C3;
    border-top: 1px solid #FFF;
    border-left: 1px solid #FFF;
}


#startBtn{
    border-top: 1px solid #FFF;
    border-left: 1px solid #FFF;
    border-right: 1px solid #B1B1B1;
    border-bottom: 1px solid #B1B1B1;
    /* position: absolute; */

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin-top: 4px;
    margin-left: 4px;
    width: 70px;
    height: 30px;
}

#startIcon{
    width: 20px;
    height: 20px;
}

#taskApps{
    display: flex;
    align-items: center;

    align-self: center;

    width: 100%; 
    height: 30px;
    margin-left: 4px;

}

#pomodoroBar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 170px; 
    height: 30px; 

    border-top: 1px solid #B1B1B1;
    border-left: 1px solid #B1B1B1;
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;

    background-color: rgb(228, 227, 227);
}

#taskBarClock{
    align-self: center;
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    border-top: 1px solid #B1B1B1;
    border-left: 1px solid #B1B1B1;
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    width: 90px; 
    height: 30px; 
    
    margin-right: 4px;
}

#taskBarClockIcon{
    width: 20px;
    height: 20px;
}