#window{
    width: 400px;
    /* border: 1px solid #C3C3C3; */

    position: absolute;
    left: 50px;
    top: 50px;
}


#top{
    display: flex;
    justify-content: space-between;
    align-items:  center;
    padding: 5px 0 5px 5px;

    background-color: #02007F;
    height: 24px;
    color: white;

    border-top: 2px solid #C3C3C3;
    border-left: 2px solid #C3C3C3;
    border-right: 2px solid #C3C3C3;
    
}

#topBar{
    display: flex;
    justify-content: space-between;

    width: 152px;
    
}
.options{
    height: 24px;
    background-color: #C3C3C3;

    border-left: 2px solid #C3C3C3;
    border-right: 2px solid #C3C3C3;
}
.options{
    font-size: 12px;


    display: flex;
    align-items: center;
}

.options div:first-child{
    padding-left: 4px;
}
.options-items{
    display: flex;
    align-items: center;
    padding-right: 15px;
    height: 23px;
}
.options-items:hover{
    cursor: pointer;
    background-color: rgb(92, 92, 252);
}

.underline{
    text-decoration: underline;
}

#square-icons{
    display: flex;
}

.top-square{
    width: 20px;
    height: 20px;

    margin-right: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#minimize{
    background-image: url('../assets/icons/minimize.png');
    background-size: cover;
}

#restore{
    background-image: url('../assets/icons/restore.png');
    background-size: cover;
}

#close{
    background-image: url('../assets/icons/close.png');
    background-size: cover;
}

#close:hover{
    cursor: pointer;
}


#app{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding-bottom: 30px;

    /* aspect-ratio: 1 / 1; */
    /* width: 100%; */
    background-color: #ffffff;

    border-top: 2px solid #333333;
    border-left: 2px solid #C3C3C3;
    border-right: 2px solid #C3C3C3;
    border-bottom: 2px solid #C3C3C3;

}

#bottom{
    display: flex;
    justify-content: space-around;

    font-size: 12px;

    height: 20px;
    background-color: #C3C3C3;
    /* border: 1px solid rgba(0, 0, 0, 0.507); */
}

#bottom div{
    display: flex;
    align-items: center;
    
    width: 48%;

    border-top: 2px solid #333333;
    border-left: 2px solid #acacac;
    border-right: 2px solid #e2e2e2;
    border-bottom: 2px solid #e2e2e2;
}