@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap')



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    overflow-y: hidden;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;


    height: 98vh;

    font-family: 'VT323', monospace;

    background-image: url('assets/images/windows-xp-bg.jpg');
    background-size: cover;
    background-position: center;
}

#options{
    font-size: 12px;


    display: flex;
    align-items: center;
    padding-left: 4px;
}
.options-items{
    display: flex;
    align-items: center;
    padding-right: 4px;
    height: 23px;
}
.options-items:hover{
    cursor: pointer;
    background-color: rgb(92, 92, 252);
}
#topIcons{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;

    width: 90%;
}

#restart{
    height: 22px;
    transition: transform 0.5s;
}

#restart:hover {
    transform: rotate(-360deg);
  }

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    width: 100vw;
    height: 100vh;
}

p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: min(2em, 8vw);
}

#clock{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: min(5em, 18vw);

    text-shadow: 2px 4px 4px #a0a0a0;
}

#window{
    position: absolute;
    left: 50px;
    top: 50px;

}

#app{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding-bottom: 30px;

    /* aspect-ratio: 1 / 1; */
    width: 100%;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.507);

}

#taskBar{
    position: fixed;
    bottom: 0;

    width: 100vw;
    height: 38px;
    background-color: #C3C3C3;
    border-top: 1px solid #FFF;
    border-left: 1px solid #FFF;
}

#startBtn{
    border-top: 1px solid #FFF;
    border-left: 1px solid #FFF;
    border-right: 1px solid #B1B1B1;
    border-bottom: 1px solid #B1B1B1;
    position: absolute;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    top: 4px;
    left: 4px;
    width: 70px;
    height: 30px;
}

#startIcon{
    width: 20px;
    height: 20px;
}

.activeBtn{
    background-color: #FFF;

    border-top: 2px solid #9c9c9c;
    border-left: 2px solid #9c9c9c;
    border-right: 2px solid #B3B3B3;
    border-bottom: 2px solid #B3B3B3;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}